/* Style de la barre de défilement */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3B8FEF;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #264BC0;
}
/* /Style de la barre de défilement */



.givenAnswers {
  font-size: 0.85rem;
  color: #ffffff;
  border: 0.5px solid #fca4f0;
  background-color: #3b8fef;
  padding: 0.5rem;
  line-height: 1.2;
  letter-spacing: 0.3;
  word-spacing: 0.005em;
  text-align-last: left;
  text-align: justify;
  font-weight: 510;
}

.correctAnswers {
  font-size: 0.85rem;
  /* fontWeight: 500; */
  color: #ffffff;
  border: 0.5px solid #fca4f0;
  background-color: #3b8fef;
  padding: 0.5rem;
  line-height: 1.4;
  letter-spacing: 0.3;
  word-spacing: 0.005em;
  text-align-last: left;
  /* wordSpacing: 1; */
  text-align: justify;
  font-weight: 510;
}

.correctAnswersTitle {
  margin-bottom: 10px;
}

.correctAnswersTitle,
.inCorrectAnswersTitle, .unansweredQuestionsTitle {
  font-size: 1rem;
  color: #fca4f0;
  border: 0.5px solid #fca4f0;
  background-color: #264bc0;
  padding: 5px;
  /* line-height: 1.2px; */
  letter-spacing: 0.4px;
  word-spacing: 0.005em;
  font-weight: 510;
}

/* .unansweredQuestionsTitle {
  font-size: 1.2rem;
  /* fontWeight: 500; 
  color: #fca4f0;
  border: 0.5px solid #fca4f0;
  background-color: #264bc0;
  padding: 0.5rem;
  line-height: 1.2;
  letter-spacing: 0.4;
  word-spacing: 0.005em;
  text-align-last: left;
  text-align: justify;
  font-weight: 510;
} */

.quizContainer {
  /* maxWidth: '480px'; */
  width: 100%;
  /* padding: 10px; */
  /* borderRadius: 10px; */
  /* backgroundColor: #ffffff; */
  /* boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin-bottom: 10px;
  line-height: 1.2;
  letter-spacing: 0.3;
  word-spacing: 0.005em;
  text-align-last: left;
  text-align: justify;
  font-weight: 510;
}

.questionText {
  font-size: 0.9rem;
  color: #fca4f0;
  border: 0.5px solid #fca4f0;
  background-color: #663E94;
  padding: 0.5rem;
  line-height: 1.2rem;
  word-spacing: 0.7px;
  text-align-last: left;
  font-weight: 600;
}
/* .questionText {
  font-size: 1rem;
  color: #fca4f0;
  border: 0.5px solid #fca4f0;
  background-color: #3b8fef;
  padding: 0.5rem;
  line-height: 1.2rem;
  /* letter-spacing: 0.03px; *
  word-spacing: 0.7px;
  text-align-last: left;
  /* text-align: justify; *
  font-weight: 600;
} */

.previewButton {
  color: #3b8fef;
  border-color: #3b8fef;
  font-weight: bold;
  margin-left: 7px;
  margin-bottom: 7px;
}
.previewButton:hover {
  background-color: #fca4f0;
  border-color: #3b8fef;
}

.nextButton {
  background-color: #3B8FEF;
  color: #fff;
  font-weight: bold;
  margin-right: 7px;
  margin-bottom: 7px;
}
.nextButton:hover {
  background-color: #3b8fef;
}


.accordionParentsSummaryStyle{
  background-color: #663E94;
  color: #FCA4F0;
  font-size: 12px;
  font-weight: bolder;
  width: 100%;
  /* padding: 10px; */
  margin: 0;
  border-bottom: 0.7px solid #FCA4F0;
  min-height: 32px;
  padding: 0 7px;
}

.accordionChildrenSummaryStyle{
  background-color: #8057A6;
  color: #E0F7FA;
  font-size: 12px;
  font-weight: bolder;
  width: 100%;
  /* padding: 10px; */
  margin: 0;
  border-bottom: 0.7px solid #FCA4F0;
  min-height: 32px;
  padding: 0 7px;
}
.accordionChildrenSummaryStyle .expandIconStyle{
  color: #E0F7FA;
}

.accordionGrandChildrenStyle{
  /* background-color: #825bae; */
  /* background-color: #9970B8; */
  color: #663E94;
  font-size: 12px;
  font-weight: bolder;
  width: 100%;
  /* padding: 10px; */
  margin: 0;
  border-bottom: 0.7px solid #FCA4F0;
  min-height: 32px;
  padding: 0 7px;
}
.expandIconStyle{
  color:#FCA4F0;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;

}


.MuiBox-root{
  width: 100%;
  /* margin: 0; */
  padding: 0;
  /* margin-top: 30px; */
  background-color: #3b8fef;
}

.accordionGrandChildrenStyle .expandIconStyle{
  color: #663E94;
  padding: 0;
}

.MuiAccordion-root.Mui-expanded{
  /* height: 22px;  */
  /* padding: 0 7px; */
  margin: 0;
}
.MuiAccordionSummary-root, .MuiAccordionSummary-root.Mui-expanded{
  height: 2.5rem; 
  padding: 0 7px;
  margin: 0;
}


.MuiAccordionDetails-root{
  /* height: 2px;  */
  /* padding: 0 7px; */
  margin: 0;
  /* display: none; */
}